<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Banana Eco-Camping</title>
    <meta name="keywords" content="bananacamping campamento experience">
    <meta name="description" content="Sitio para acampar">
    <meta name="author" content="banana eco-camping">

    {% load static %}
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'camping/images/icoFav.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'camping/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'camping/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'camping/css/style.1.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'camping/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'camping/css/custom.css' %}">
    {% block styles %} 
    {% endblock %}



</head>

<body>

    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'camping/images/bana_ico_dos.png' %}" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Conocenos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'reservations' %}">Reservaciones</a></li>
                        <!-- 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
                                data-toggle="dropdown">Posts</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="">Categoria Uno</a>
                                <a class="dropdown-item" href="">Categoria Dos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Mas</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="">Blogs</a>
                                <a class="dropdown-item" href="">Galleria</a>
                            </div>
                        </li>
                        -->
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->


    {% block content %}

    {% endblock %}

    <!-- Start Contact info -->
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Tels</h4>
                        <p class="lead">
                            +57 317 462-74-50 <br>+57 314-689-44-95
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Email</h4>
                        <p class="lead">
                            banana@camping.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Ubicacion</h4>
                        <p class="lead">
                            <a href="">La Habana - Buga Colombia</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact info -->

    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>Quienes Somos</h3>
                    <p>
                        Somos un equipo que sueña con un espacio propicio para la conexión con la naturaleza, 
                        el amor por el conocimiento del entorno y contribuir con el equilibrio del ecosistema de 
                        manera sostenible, donde la tranquilidad  este rodeada de consonancia,  lo cotidiano sea superfluo  
                        y el paisaje sea la alternativa para  vislumbrar  atardeceres  de tonalidades vivas y noches cubiertas de constelaciones. 
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Horarios de Atencios</h3>
                    <p><span class="text-color">Lunes: </span>Cerrado</p>
                    <p><span class="text-color">Mar-Dom :</span> 9:00 Am - 10:00 PM</p>
                    <p><span class="text-color">Festivos :</span> 9:00 Am - 7:00 PM</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Informacion de Contacto</h3>
                    <p class="lead"><a href="">Corregimiento La Habana <br>
                            Buga – Valle - Colombia <br>
                            A 14 km de Buga.</a></p>
                    <p class="lead"><a href="#">+57 317 535-06-05</a></p>
                    <p><a href="#"> info@camping.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Suscribete</h3>
                    <div class="subscribe_form">
                        <form class="subscribe_form">
                            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..."
                                type="email">
                            <button type="submit" class="submit">SUBSCRIBIRSE</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/bananaexperience.buga/"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">Tods los Dererechos Reservados 2021 <a
                                href="bananacamping.com">bananacamping.com</a>
                            <br>Website Developed by. <a href="https://seedcharlie.co/">seedcharlie.co</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'camping/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'camping/js/popper.min.js' %}"></script>
    <script src="{% static 'camping/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'camping/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'camping/js/images-loded.min.js' %}"></script>
    <script src="{% static 'camping/js/isotope.min.js' %}"></script>
    <script src="{% static 'camping/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'camping/js/form-validator.min.js' %}"></script>
    <script src="{% static 'camping/js/contact-form-script.js' %}"></script>
    <script src="{% static 'camping/js/custom.js' %}"></script>

    {% block scripts %} {% endblock %}

</body>

</html>