{% extends 'camping/baset_uno.html' %}
{% load static %}
{% block content %}
<!-- Start slides -->
<div id="slides" class="cover-slides">
	<ul class="slides-container">
		<li class="text-center">
			<img src="{% static 'camping/images/f_once.JPG' %}" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Bienvenidos a<br> Banana Eco-Camping</strong></h1>
						<p class="m-b-40">
							“ Un refugio engalanado de montañas y atardeceres de colores ”.
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservacion</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="text-center">
			<img src="{% static 'camping/images/f_dos.jpg' %}" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Ven, disfruta y aprende </strong></h1>
						<p class="m-b-40">
							“ La tierra tiene música para los que escuchan ” <br>
							-- George Santayana
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ver Mas</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="text-center">
			<img src="{% static 'camping/images/f_tres.jpg' %}" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Visita Nuestra<br>Galleria de Imágenes</strong></h1>
						<p class="m-b-40">
							Te damos a conocer la gran variedad de flora <br> y fauna que encontraras en La Habana Buga
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#tz-gallery">Ver Mas</a></p>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="slides-navigation">
		<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
	</div>
</div>
<!-- End slides -->

<!-- Start About -->
<div class="about-section-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="{% static 'camping/images/f_seis.jpg' %}" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<div class="inner-column">
					<h1>Banana <span>Eco-Camping</span></h1>
					<h4>Pequeña Historia</h4>
					<p>
						Banana Eco-Camping nace en el 2017, con la idea de brindar un espacio propicio para
						la conexión con la naturaleza, promover la educación ambiental y contribuir con el equilibrio 
						del ecosistema. Es un predio familiar ubicado en  la vereda La Piscina, corregimiento La Habana, con una 
						extensión de 7.148 m2 y  en 48.18 m colinda con la rivera del río Guadalajara, su cultivo principal es 
						el banano y con base a este mostrar nuestro proceso orgánico. 
					</p>

					<a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'about' %}">Seguir Leyendo</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End About -->

<!-- Start QT -->
<div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-left">
				<p class="lead " style="color: rgb(255, 196, 0) !important;" >
					"Aun el hombre más razonable tiene necesidad de volver a la Naturaleza, es decir, a su relación
					fundamental ilógica con todas las cosas." <br>
					<span class="lead">Friedrich Nietzsche</span>
				</p>
				
			</div>
		</div>
	</div>
</div>
<!-- End QT -->

<!-- Start Menu -->
<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Nuestros Servicios</h2>
					<p>
						<span style="font-weight: bold;"> Tarifa de Ingreso:</span>  $ 2.000 (incluye bolsa de comida para peces) 
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="special-menu text-center">
					<div class="button-group filter-button-group">
						<button class="active" data-filter="*">All</button>
						<button data-filter=".carpa">Kit Campamento</button>
						<button data-filter=".lunch">Gastronomia</button>

					</div>
				</div>
			</div>
		</div>

		<div class="row special-list">
			<div class="col-lg-4 col-md-6 special-grid drinks carpa">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/kit_tres.JPG' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Kit Campamento</h4>
						<p>Carpa, cobija, colchoneta y almohada</p>
						<h5 class="priceOne">$ 30.000 COP / Persona</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid drinks carpa">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/kit_dos.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Zona de Camping</h4>
						<p>Ideal para que lleves tu Kit de campamento</p>
						<h5 class="priceOne">$ 15.000 COP / Persona</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid drinks carpa">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/kit_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Zona de Camping</h4>
						<p style="color: darkorange; font-weight: bolder;">#AmacasFree</p>
						<h5 class="priceOne">$ 15.000 COP / Persona</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_torta_banano.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Torta de Banano</h4>
						<p>Delicioso y nutritivo hecho con pruductos locales</p>
						<h5 class="priceOne">$ 2.000 COP</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_empanadas_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Empanadas</h4>
						<p>Deliciosas Empanadas Vallunas de carne y de pollo hechas en casa</p>
						<h5 class="priceOne">$ 1.000 COP</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_aguapanela_queso.JPEG' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Aguapanela con Queso</h4>
						<p>Aguapanela caliente con queso</p>
						<h5 class="priceOne">$ 5.000 COP</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_limonada.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Limonada</h4>
						<p>Vaso de limonada bien frío</p>
						<h5 class="priceOne">$ 1.500 COP</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_lulada_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Lulada</h4>
						<p>Rica Lulada casera bien fría</p>
						<h5 class="priceOne">$ 3.000 COP</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lunch comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_champus_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Vaso de Chapús</h4>
						<p>Delicioso Chapús Valluno hecho en casa</p>
						<h5 class="priceOne">$ 3.000 COP</h5>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Menu -->

<!-- Start Gallery -->
<div class="gallery-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Galería de Imágenes</h2>
					<p>Conoce los Paisajes de la Habana Buga</p>
				</div>
			</div>
		</div>
		<div class="tz-gallery" id="tz-gallery">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/f_once.JPG' %}">
						<img class="img-fluid" src="{% static 'camping/images/f_once.JPG' %}" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/galleria/espacios/z_uno.jpeg' %}">
						<img class="img-fluid" src="{% static 'camping/images/galleria/espacios/z_uno.jpeg' %}" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/g_uno.JPG' %}">
						<img class="img-fluid" src="{% static 'camping/images/g_uno.JPG' %}" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/services/rivera_uno.jpg' %}">
						<img class="img-fluid" src="{% static 'camping/images/services/rivera_uno.jpg' %}" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/g_cuatro.JPG' %}">
						<img class="img-fluid" src="{% static 'camping/images/g_cuatro.JPG' %}" alt="Gallery Images">
					</a>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-4">
					<a class="lightbox" href="{% static 'camping/images/g_tres.JPG' %}">
						<img class="img-fluid" src="{% static 'camping/images/g_tres.JPG' %}" alt="Gallery Images">
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- End Gallery -->

<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Fundadores y Empleados</h2>
					<p>Conócenos a cada uno de nosotros</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mr-auto ml-auto text-center">
				<div id="reviews" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner mt-4">
						<div class="carousel-item text-center active">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle"
									src="{% static 'camping/images/founders_uno.jpeg' %}" alt="">
							</div>
							<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Luz Karime &
									Alexander</strong></h5>
							<h6 class="text-dark m-0">Fundadores</h6>
							<p class="m-0 pt-3">...</p>
						</div>
						<div class="carousel-item text-center">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle"
									src="{% static 'camping/images/web_devel_uno.jpg' %}" alt="">
							</div>
							<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Carlos Fernando
									Castillo</strong></h5>
							<h6 class="text-dark m-0">Desarrollador Web</h6>
							<p class="m-0 pt-3">Estudiante de Ingeniería de Sistemas y FreeLancer</p>
						</div>

					</div>
					<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Customer Reviews -->

{% endblock %}