{% extends 'camping/baset_uno.html' %}
{% load static %}

{% block styles%}

{% endblock %}

{% block content %}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Servicios</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Que Hay en Banana Eco-Camping </h2>
					<p>Zona Camping: <span class="bold">$ 15.000 por persona</span></p>
					<p>Zona Camping + Kit de campamento (Carpa, cobija, colchoneta y almohada) : <span class="bold">$ 30.000 COP por persona</span></p>
					<p>Tarifa de Ingreso: <span class="bold">$ 2.000 (incluye bolsa de comida para peces) por persona</span></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="special-menu text-center">
					<div class="button-group filter-button-group">
						<button class="active" data-filter="*">Todos</button>
						<button data-filter=".zcamping">Zona de camping</button>
						<button data-filter=".carpa">Carpas</button>
						<button data-filter=".comida">Gastronomia</button>
						<button data-filter=".lago">Lago-Pesca</button>
						<button data-filter=".sendero">Sendero ecológico</button>
						<button data-filter=".río">Rivera del río</button>
						<button data-filter=".educacion">Educación ambiental</button>
						<button data-filter=".baños">Instalaciones sanitarias</button>
						<button data-filter=".juegos">Zona de juegos</button>
						<button data-filter=".parking">Parqueadero</button>

					</div>
				</div>
			</div>
		</div>
		<div class="row special-list">
			<div class="col-lg-4 col-md-6 special-grid zcamping">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/zona_cam_uno.jpg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona Camping</h4>
						<p>Disfrita de un espacio natural</p>
						<h5 class="priceOne">$ 15.000 COP <br>Cada Persona <br>Por Dia</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid zcamping">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_cinco.jpeg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona Camping</h4>
						<p>Disfruta de un espacio natural</p>
						<h5 class="priceOne">$ 15.000 COP <br>Cada Persona <br>Por Dia</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid carpa">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_seis.jpeg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona Camping & Carpa para 2 personas</h4>
						<p>Incluye: <br>Cobija, colchoneta y almohada</p>
						<h5 class="priceOne">$ 60.000 COP Por Dia</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid carpa">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/kit_tres.JPG' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona Camping & Carpa para 6 personas</h4>
						<p>Incluye: Cobija, colchoneta y almohada</p>
						<h5 class="priceOne">$ 180.000 COP Por Dia</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_torta_banano.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Torta de banano</h4>
						<p>Deliciosa torta</p>
						<h5>hecha con productos locales</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid comida">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/c_empanadas_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Empanadas</h4>
						<p>Deliciosas Empanadas Caseras</p>
						<h5>Carne y de pollo</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lago">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/lago_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Lago</h4>
						<p>Conoce las plantas de agua</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lago">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/lago-tres.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Lago</h4>
						<p>Pesca algo para que lo propares en una fogata.</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid lago">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_siete.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Lago</h4>
						<p>Pesca con nosotros</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid sendero">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_uno.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Sendero Ecologico</h4>
						<p>Sal a dar una caminata por los senderos que encontraras en la habana</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid sendero">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_tres.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Sendero Ecologico</h4>
						<p>Sal a dar una caminata por los senderos que encontraras en la habana</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid sendero">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/galleria/espacios/z_cuatro.jpeg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Sendero Ecologico</h4>
						<p>Sal a dar una caminata por los senderos que encontraras en la habana</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid río">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/rivera_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Rivera del Río</h4> 
						<p>río Guadalajara</p>
						<h5>Solo bajas unos cuantos metros y disfrutas del río guadalajara</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid educacion">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/educacion_uno.JPG' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Educación Ambiental</h4>
						<p>Conoce la Fauna y Flora de esta localidad</p>
						
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid educacion">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/educacion_dos.jpeg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Educación Ambiental</h4>
						<p>Aprende a sembrar gran variedad de semillas y a tratar el cultivo.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid educacion">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/g_cuatro.JPG' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Educación Ambiental</h4>
						<p>Aprende a sembrar gran variedad de semillas</p>
						<h5>y a tratar el cultivo.</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid baños">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/baño_uno.jpg' %}" class="img-fluid" alt="Image">
					<div class="why-text">
						<h4>Instalaciones Sanitarias</h4>
						<p>Contamos con baños y duchas para tu comodidad</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid juegos">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/zona_juegos_uno.jpeg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona de Juegos</h4>
						<p>Contamos con una zonas de recreación para que compartas en familia</p>
						<h5></h5>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 special-grid parking">
				<div class="gallery-single fix">
					<img src="{% static 'camping/images/services/parqueadero_uno.jpg' %}" class="img-fluid"
						alt="Image">
					<div class="why-text">
						<h4>Zona de Parqueo</h4>
						<p></p>
						<h5></h5>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- End Menu -->

<!-- Start QT -->
<div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-left">
				<p class="lead ">
					" La naturaleza no es un lugar para visitar. Es el hogar. "
				</p>
				<span class="lead">Gary Snyder</span>
			</div>
		</div>
	</div>
</div>
<!-- End QT -->

<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Fundadores y Empleados</h2>
					<p>Conócenos a cada uno de nosotros</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mr-auto ml-auto text-center">
				<div id="reviews" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner mt-4">
						<div class="carousel-item text-center active">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle"
									src="{% static 'camping/images/founders_uno.jpeg' %}" alt="">
							</div>

							<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Luz Karime &
									Alexander</strong></h5>
							<h6 class="text-dark m-0">Fundadores</h6>
							<p class="m-0 pt-3">...</p>
						</div>
						<div class="carousel-item text-center">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle"
									src="{% static 'camping/images/web_devel_uno.jpg' %}" alt="">
							</div>
							<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Carlos Fernando
									Castillo</strong></h5>
							<h6 class="text-dark m-0">Desarrollador Web</h6>
							<p class="m-0 pt-3">Estudiante de Ingeniería de Sistemas y FreeLancer</p>
						</div>

					</div>
					<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Customer Reviews -->

{% endblock %}